#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export JAVA_HOME=/usr/lib/jvm/default-java

GYP_ARGS =
GYP_DEFINES =
REPLACE_GYP_FILES =
DISABLED_JAVA_FILES =

# Disable sysroot
GYP_DEFINES += sysroot=

# Disable tests
GYP_DEFINES += include_tests=0

# Disable optional features
GYP_DEFINES += use_libpci=0
GYP_DEFINES += use_dbus=0

# Prefer gcc/g++ over clang until clang is better tested in Ubuntu
GYP_DEFINES += clang=0
GYP_DEFINES += clang_use_chrome_plugins=0

# Disable fatal compiler warnings
GYP_DEFINES += disable_fatal_linker_warnings=1
GYP_DEFINES += werror=-Wno-error

# Set Android variables to avoid error messages
GYP_DEFINES += android_sdk=dummy
GYP_DEFINES += android_sdk_jar=dummy
GYP_DEFINES += android_sdk_root=dummy
GYP_DEFINES += android_sdk_tools=dummy
GYP_DEFINES += android_must_copy_system_libraries=0

# Use system libraries
REPLACE_GYP_FILES += -Duse_system_gflags=1
REPLACE_GYP_FILES += -Duse_system_libjpeg=1

# Disable classes which depend on Android internals
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/Camera1Enumerator.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/Camera2Capturer.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/Camera2Enumerator.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/CameraEnumerator.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/CameraEnumerationAndroid.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/CameraVideoCapturer.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/EglBase.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/EglBase10.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/EglBase14.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/GlRectDrawer.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/GlShader.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/GlTextureFrameBuffer.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/GlUtil.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/MediaCodecVideoDecoder.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/MediaCodecVideoEncoder.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/NetworkMonitor.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/NetworkMonitorAutoDetect.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/RendererCommon.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/SurfaceTextureHelper.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/SurfaceViewRenderer.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/VideoCapturer.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/VideoCapturerAndroid.java
DISABLED_JAVA_FILES += webrtc/api/android/java/src/org/webrtc/VideoRendererGui.java
DISABLED_JAVA_FILES += webrtc/base/java/src/org/webrtc/ThreadUtils.java

GYP_ARGS += $(REPLACE_GYP_FILES)

override_dh_auto_configure:
	./setup_links.py -v
	./build/linux/unbundle/replace_gyp_files.py $(REPLACE_GYP_FILES)
	$(foreach f, $(DISABLED_JAVA_FILES), test ! -f "$f" || mv "$f" "$f.orig";)
	GYP_DEFINES="$(GYP_DEFINES)" python webrtc/build/gyp_webrtc.py $(GYP_ARGS)

override_dh_auto_build:
	ninja -C out/Release

%:
	dh $@
